<!DOCTYPE html>
<html lang="zh-TW">
    <head>

        <!-- 載入追蹤碼js -->
        <script>
            let cacheID = new Date().getMilliseconds();
            let Login_InternalScript = document.createElement('script');
            Login_InternalScript.src = `https://event.kgi.com.tw/news/event/commonResources/js/trackingCode.js?uid=` + cacheID;
            document.head.appendChild(Login_InternalScript);
        </script>

        <!-- <link rel="preload" href="images/reel2.webp" as="image" media="(min-width: 768px)" /> -->
        <!-- <link rel="preload" href="images/reel2.webp" as="image"/> -->

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="#081c43" />
        <meta name="format-detection" content="telephone=no" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />

        <link rel="shortcut icon" href="images/favicon.ico" />
        <link href="https://www.kgi.com.tw/media/assets/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
        <link href="https://www.kgi.com.tw/media/assets/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
        <link href="https://www.kgi.com.tw/media/assets/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
        <title>2026投資展望論壇－凱基證券</title>
        <meta property="og:title" content="2026投資展望論壇－凱基證券" />
        <meta name="twitter:title" content="2026投資展望論壇－凱基證券" />

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "凱基證券",
                "url": "https://www.kgi.com.tw/",
                "logo": "https://www.kgi.com.tw/zh-tw/-/media/images/kgis/header/logo-kgis.svg",
                "mainEntityOfPage":{
                    "@type": "WebPage",
                    "@id": "https://event.kgi.com.tw/news/event/2026apply/index.html"
                },
                "image":[
                    "https://event.kgi.com.tw/news/event/2026apply/images/fb.jpg"
                ]
            }
        </script>
    
        <script type="application/ld+json">
            {
                "@context": "http://schema.org", 
                "@type": "BreadcrumbList", 
                "itemListElement": [{ 
                    "@type": "ListItem", 
                    "position": 1, 
                    "item": " https://www.kgi.com.tw/", 
                    "name": "首頁" 
                } ,
                { 
                    "@type": "ListItem", 
                    "position": 2, 
                    "item": "https://event.kgi.com.tw/news/event/2026apply/index.html",
                    "name": "2026投資展望論壇－凱基證券" 
                } ]
            }
        </script>

        <meta property="og:type" content="website" />
        <!-- <meta property="fb:app_id" content="xxxxxxxx" /> -->
        <meta name="description" content="想在2026投資市場中領先一步？凱基專家精準預測趨勢，立即報名，掌握致勝關鍵！✔️2026投資前瞻論壇👑凱基投顧許高銘✔️凱基投顧首席分析師✔️凱基股股漲YT頻道節目專屬分析師✔️17年台股實戰分析經驗" />
        <meta property="og:description" content="想在2026投資市場中領先一步？凱基專家精準預測趨勢，立即報名，掌握致勝關鍵！✔️2026投資前瞻論壇👑凱基投顧許高銘✔️凱基投顧首席分析師✔️凱基股股漲YT頻道節目專屬分析師✔️17年台股實戰分析經驗" />
        <meta name="twitter:description" content="想在2026投資市場中領先一步？凱基專家精準預測趨勢，立即報名，掌握致勝關鍵！✔️2026投資前瞻論壇👑凱基投顧許高銘✔️凱基投顧首席分析師✔️凱基股股漲YT頻道節目專屬分析師✔️17年台股實戰分析經驗" />
        <meta property="og:url" content="https://event.kgi.com.tw/news/event/2026apply/index.html" />
        <link rel="canonical" href="https://event.kgi.com.tw/news/event/2026apply/index.html" />
        <meta property="og:image" content="https://event.kgi.com.tw/news/event/2026apply/images/fb.jpg?v=v20251107" />
        <meta name="twitter:image" content="https://event.kgi.com.tw/news/event/2026apply/images/fb.jpg?v=v20251107" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <meta name="twitter:card" content="summary_large_image" />
        <!-- <meta name="twitter:site" content="@" /> -->

        <!-- google font start -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700,900&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <!-- google font end -->

        <link rel="stylesheet" type="text/css" href="https://event.kgi.com.tw/news/event/commonResources/css/slick.css" />
        <link href="https://event.kgi.com.tw/news/event/commonResources/css/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css?v=20241119" />

        <script src="https://event.kgi.com.tw/news/event/commonResources/js/vue-v3.js"></script>
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/jquery-v3.4.min.js"></script>
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/slick.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <!-- <script src="https://event.kgi.com.tw/news/event/commonResources/js/httpVueLoader.js"></script> -->

        <!-- 數字遞增動畫 -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js"></script> -->

        <!-- iOS 和 Android 的智能應用橫幅 -->
        <meta name="apple-itunes-app" content="app-id=1473914290">
        <meta name="google-play-app" content="app-id=tw.com.kgi.ecapp">
        <link href="https://event.kgi.com.tw/news/event/commonResources/css/jquery.smartbanner.css" rel="stylesheet">
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/jquery.smartbanner.js"></script>
        <script type="text/javascript">
            $(function() { $.smartbanner() } )
        </script>
        <style>
            #smartbanner {position: relative!important;} #smartbanner .sb-info > span:last-of-type {display: none;} #smartbanner.android .sb-button span {display: none;} #smartbanner.android {border-top-color: #005598;}
            .sb-button:before {content: '打開'; display: block; line-height: 28px; background: #005598; color: #fff;}
        </style>

        <!-- scrollMagic + tweenMax -->
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/ScrollMagic-v2.0.7.min.js"></script>
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/debug.addIndicators-v2.0.7.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/animation.gsap.js"></script>

        <!-- 加速網頁載入速度開源程式 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.3.0/quicklink.umd.js"></script>
        <script>
            window.addEventListener('load', () => {
                quicklink.listen();
            });
        </script>

    </head>

    <body>

        <div id="app" v-cloak>

            <div id="top"></div>
            <div class="header clearfix" :class="{'sType': headerSmallTypeToggle}">
                <div class="header-logo">
                    <a href="https://www.kgi.com.tw/zh-tw/" title="凱基證券" target="_blank">
                        <img src="images/logo.svg" alt="凱基證券">
                    </a>
                    <div class="header-logo-dividingLine"></div>
                    <a href="https://www.kgisia.com.tw/zh-tw/" title="凱基證券" target="_blank">
                        <img src="images/logo_2.svg" alt="凱基證券">
                    </a>
                </div>

                <nav class="navBar" :class="{show: navbarShow}" v-if="false">
                    <ul>
                        <li :class="{active : (activeNumber == 0)}">
                            <a href="javascript:void(0)" title="精選基金" @click="navClick(0, 'featured');">
                                精選基金
                            </a>
                        </li>
                        <li :class="{active : (activeNumber == 1)}">
                            <a href="javascript:void(0)" title="限時優惠" @click="navClick(1, 'discount');">
                                限時優惠
                            </a>
                        </li>
                        <li :class="{active : (activeNumber == 2)}">
                            <a href="javascript:void(0)" title="智慧理財" @click="navClick(2, 'robo');">
                                智慧理財
                            </a>
                        </li>
                        <li :class="{active : (activeNumber == 3)}">
                            <a href="javascript:void(0)" title="投資訣竅" @click="navClick(3, 'RSP');">
                                投資訣竅
                            </a>
                        </li>
                        <li>
                            <a href="https://www.kgi.com.tw/zh-tw/" title="凱基證券" target="_blank">
                                凱基證券
                            </a>
                        </li>
                    </ul>
                </nav>

                <!--手機menu按鍵-->
                <div class="menuBtn" :class="{active: navbarShow}" @click="toggleMobileNavbar()" v-if="false">
                    <span>
                    </span>
                    <span>
                    </span>
                    <span>
                    </span>
                    <span>
                    </span>
                    <span>
                    </span>
                </div>
            </div>

            <!-- main -->
            <article class="main">

                <section class="banner">
                    <div class="container">
                        <div  class="banner-tattoo banner-tattoo-1">
                            <img src="images/banner_tattoo_1.png" alt="" v-for="item in 2">
                        </div>
                        <img src="images/banner_tattoo_2.png" alt="" class="banner-tattoo banner-tattoo-2">
                        <div class="banner-content">
                            <h1 class="banner-tit" title="未來之鑰 2026投資前瞻論壇">
                                <small>
                                    - 未來之鑰 -
                                </small>
                                <br/>
                                2026投資前瞻論壇
                            </h1>
                            <h2 class="banner-sTit" title="掌握趨勢 領航先機">
                                掌握趨勢 領航先機
                            </h2>
                            <div class="btn" v-if="showApplyInfo">
                                <div class="btn-tag">
                                    名額有限
                                </div>
                                <a href="#registrationForm" title="立即報名">
                                    立即報名<span class="material-symbols-outlined">keyboard_arrow_down</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="location">
                    <ul class="location-list">
                        <li>
                            <a href="https://maps.app.goo.gl/K5jPDacAoj8QKm3L6" target="_blank" title="台南晶英酒店">
                                <div class="location-tag">
                                    台南
                                </div>
                                11/24(一) 14:00｜晶英酒店
                            </a>
                        </li>
                        <li>
                            <a href="https://maps.app.goo.gl/VUDaxaxw8iz2EDia7" target="_blank" title="高雄萬豪酒店">
                                <div class="location-tag">
                                    高雄
                                </div>
                                11/25(二) 14:00｜萬豪酒店
                            </a>
                        </li>
                        <li>
                            <a href="https://maps.app.goo.gl/LtgbA2JPdT8qeabc9" target="_blank" title="台北萬豪酒店">
                                <div class="location-tag">
                                    台北
                                </div>
                                11/27(四) 14:00｜萬豪酒店
                            </a>
                        </li>
                        <li>
                            <a href="https://maps.app.goo.gl/4Nv6eU9ZNrRAQwyc9" target="_blank" title="台中李方艾美酒店">
                                <div class="location-tag">
                                    台中
                                </div>
                                11/28(五) 14:00｜李方艾美酒店
                            </a>
                        </li>
                        <li>
                            <a href="https://maps.app.goo.gl/pXPwXrdJnUG3cN3s5" target="_blank" title="新竹豐邑喜來登大飯店">
                                <div class="location-tag">
                                    新竹
                                </div>
                                12/01(一) 14:00｜豐邑喜來登大飯店
                            </a>
                        </li>
                    </ul>
                </section>

                <!-- <share-link></share-link> -->

                <div class="margin-top-50" v-if="!showApplyInfo"></div>

                <div id="registrationForm"></div>
                <section class="item2 registrationForm" v-if="showApplyInfo">
                    <div class="container">
                        <h2 class="tit-type1" title="活動報名" data-aos="fade-up">
                            活動報名
                        </h2>
                        <iframe class="registrationForm-iframe" sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-modals" width="100%" height="600px" src="https://kgi.surveycake.biz/s/XpG89" style="border:#ddd 1px solid;" allowTransparency="true" frameborder="0"></iframe>
                    </div>
                </section>

            </article>

            <!-- footer -->
            <footer class="footer">
                <div class="container clearfix">
                    <div class="footer-content">
                        <span class="footer-content-block">凱基證券股份有限公司</span>
                        |
                        <span class="footer-content-block">客服專線:(02)2389-0088 ‧ 0800-085-005</span>
                        |
                        <span class="footer-content-block">
                            <a href="https://chatservice.kgi.com.tw/Webhook/?eservice=a18" target="_blank" title="智能客服" class="linkText">
                                智能客服
                            </a>
                        </span>
                        <br />
                        <span class="footer-content-block">地址：台北市明水路700號</span>
                        |
                        <span class="footer-content-block">電話：(02)2181-8888</span>
                        |
                        <span class="footer-content-block">112年金管證總字第0025號</span>
                    </div>
                </div>
            </footer>

            <!-- fixedBtn -->
            <div class="fixedBtn" v-if="false">
                <ul>
                    <li>
                        <a href="https://eoa.kgi.com.tw/OOA/index.aspx?Source=E230706" title="開戶" target="_blank" id="AccountBtn">
                            <img src="images/open-account.svg" alt="開戶">
                            開戶
                        </a>
                    </li>
                    <li>
                        <a href="https://www.kgieworld.com.tw/ExternalFiles/mobile/WFLinkApp.aspx?Org=P&rUrl=kgiP" title="交易" id="TradeBtn" :target="windowWidth > 991 ? '_blank' : ''">
                            <img src="images/trading.svg" alt="交易">
                            交易
                        </a>
                    </li>
                    <!-- <li>
                        <a href="https://www.kgi.com.tw/zh-tw/lohas-mini-site" title="專家陪跑" target="_blank" id="ServiceBtn">
                            <img src="https://www.kgi.com.tw/zh-tw/-/media/images/kgis/sample-icons/nav_run.png" alt="專家陪跑">
                            專家陪跑
                        </a>
                    </li> -->
                    <li>
                        <a href="https://www.kgi.com.tw/zh-tw/others/navigation" title="常用功能" target="_blank">
                            <img src="https://www.kgi.com.tw/zh-tw/-/media/images/kgis/homepage/0001/icon05.png" alt="常用功能">
                            常用功能
                        </a>
                    </li>
                </ul>
            </div>

            <div class="topBtn">
                <a href="#top" title="返回最上面">
                    <span class="material-symbols-outlined">
                        keyboard_arrow_up
                    </span>
                </a>
            </div>

            <div class="fixedSignUpBtn" v-if="showApplyInfo">
                <a href="#registrationForm" title="立即報名">
                    報名<span class="material-symbols-outlined">keyboard_arrow_down</span>
                </a>
            </div>

            <modal ref="copyUrlSuccess" :can-close="true" class="md">
                <template #info>
                    <p class="text-center">
                        <b>複製成功</b>
                    </p>
                </template>
            </modal>

        </div>

        <script src="js/main.min.js?v=20241120"></script>
        
    </body>
</html>